<a href="https://colab.research.google.com/github/Afitz19/Afitz19/blob/main/Data_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('/content/ds_salaries.csv')

In [6]:
df

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [7]:
data_needs = df.loc[0:, ['work_year', 'experience_level', 'employment_type', 'job_title', 'salary', 'salary_currency', 'employee_residence', 'company_location', 'company_size']]

In [8]:
data_needs

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,DE,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,JP,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,GB,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,HN,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,US,US,L
...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,US,US,M
603,2022,SE,FT,Data Engineer,126000,USD,US,US,M
604,2022,SE,FT,Data Analyst,129000,USD,US,US,M
605,2022,SE,FT,Data Analyst,150000,USD,US,US,M
606,2022,MI,FT,AI Scientist,200000,USD,IN,US,L

In [9]:
Data_analyst = data_needs.loc[(data_needs.job_title == 'Data Analyst') & (data_needs.salary_currency == 'USD') & (data_needs.employee_residence == 'US')]

In [10]:
Data_analyst_entry_level = Data_analyst.loc[(Data_analyst.experience_level == 'EN')]

In [11]:
Data_analyst_entry_level.salary.mean()

73833.33333333333

In [12]:
Data_analyst_mid_level = Data_analyst.loc[(Data_analyst.experience_level == "MI")]

In [13]:
Data_analyst_mid_level.salary.mean()

95750.66666666667

In [14]:
Data_analyst_Senior_level = Data_analyst.loc[(Data_analyst.experience_level == 'SE')]

In [22]:
Data_analyst_Senior_level.salary.mean()

115863.93617021276

In [16]:
Data_scientist = data_needs.loc[(data_needs.job_title == 'Data Scientist') & (data_needs.salary_currency == 'USD') & (data_needs.employee_residence == 'US')]

In [20]:
Data_scientist_entry_level = Data_scientist.loc[(Data_scientist.experience_level == 'EN')]

In [23]:
Data_scientist_entry_level.salary.mean()

88833.33333333333

In [24]:
Data_scientist_Mid_level = Data_scientist.loc[(Data_scientist.experience_level == 'MI')]

In [25]:
Data_scientist_Mid_level.salary.mean()

124488.09523809524

In [26]:
Data_scientist_Senior_level = Data_scientist.loc[(Data_scientist.experience_level == 'SE')]

In [27]:
Data_scientist_Senior_level.salary.mean()

166796.07843137256

In [28]:
Data_analyst_Senior_level.salary.mean()

115863.93617021276